*.dat
*.unv
*.sauv
*.idea
*.hdf
*.hdf5
*.med
*.stl
*.cgns
*.gmsh
*.pyc
*.c
*__pycache__/
*remove/
*_rm.py
*.msh
*.h5m
*.h5
*.npy
*.npz
*.vtk
*.geo
!cube_unstructured.msh
!cube_structured.msh
!2d_unstructured.msh
!2d_square.geo
venv/

